html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px
}

/* div{
    border: 1px solid #f00;
    box-sizing: border-box;
} */

.navWrapper{
    margin: 2.5% 0 0 0 ;
    display: flex;
    flex-direction: row;
    padding: 8px;
    height: 100px;
    border-bottom-style: solid;
    border-color: gray;
    border-width: thin;
}

.navWrapper a{
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

}

.navWrapper a:hover{
    text-decoration: underline;
}

.navLink{
    flex: 1;
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: left;
}


.navLogo{
    padding-top: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.navLogo img{
    max-width: 120px;
    max-height: 51px;
}

.navLogin{
    flex: 1;
    padding: 30px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
}


@media(max-width: 1000px){
    .navwrapper{
        flex-direction: column;
    }

}