#wrapper{
    margin: 40px 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
}

.filter{
    flex: 1;
    max-width: 200px;
    min-width: 200px;
    height: auto;
    margin: 0 10px;
    padding: 10px;
    /* background-color: whitesmoke; */
    border-radius: 2px;
    
} 

.filter p{
    text-decoration-line: underline;
    font-weight: bold;
}

.filter a{
    display: block;
    margin: 5px;
    color: #000;
    text-decoration: none;
}

.productWrapper{
    margin: 0 10px;
    flex: 5;
    height: auto;
    width: auto;
    min-width: 270px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 8px;
    
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.16), rgba(0, 0, 0, 0.08); 
}

.product{
    flex: 1;
    max-width: 250px;
    text-align: center;
    margin: 5px;
    background-color: whitesmoke;
}

.product img{
    min-width: 250px;
    min-height: 250px;
}


.product h1{
    font-size: 20px;
}

.price{
    color: green;
}


@media(max-width: 700px){
    #wrapper{
        flex-direction: column;
    }

    .filter{
        max-width: 100%;
        min-width: 100%;
    }


}